body {
	padding: 5px;
	background-color: rgb(150, 152, 175);
}

.displayHead {
	color: #941818;
	font-size: 16pt;
	width: 100%;
	text-align: center;
}

.searchbar {
	padding-bottom: 5px;
}

.appArea {
	display: flex;
	width: 100%;
	height: 500px;
}

.dialog-wrapper {
	color: black;
	position: absolute;
	width: 80%;
	height: 80%;
	z-index: 1041;
	margin-left: 10%;
	margin-top: 10%;
}

.mapdiv {
	width: 80%;
	outline: solid black 2px;
}

.listView {
	background-color: rgb(255, 255, 255);
	width: 20%;
	outline: solid black 2px;
}

.item-list {
	list-style-type: none;
	text-align: left;
	width: 80%;
}

li {
	width: 100%;
}

a {
	width: 80%;
	height: 10%;
	padding-bottom: 0.5em;
}

@media only screen and (max-width: 480px) {

	body {
		font-size: 8pt;
		word-wrap: break-word;
	}

	.displayHead {
		color: #941818;
		font-size: 12pt;
	}

	a {
		padding-bottom: 1em;
	}

	input {
		width: 80%;
	}
}